DATABASE_DSN=
DATABASE_USER=
DATABASE_PASS=
SAP_SCHEMA=SBO_RASH_PRODUCCION

# El repositorio debe tener GitHub Releases accesibles por los usuarios.
UPDATE_ENABLED=true
UPDATE_REPOSITORY=brayan19511/APLICACION-ADM
UPDATE_ASSET_NAME=ADM.exe
